h1 {
  text-align: center;
  margin: 1rem 0;
  margin-bottom: 2rem;
}

.home-sections{
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.section {
  background: #ffa515ad;
  padding: 2rem;
  border-radius: 40px;

  h2 {
    margin-top: 0;
    font-size: 2rem;
  }

}

// react-slideshow-image center mode
.images-wrap {
  text-align: center;
}
